@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #0c0b08;
  background-color: #333;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__top {
  background: #333;
  color: #fff;
}

.header__bottom {
  color: #0c0b08;
  background: #dcca87;
}

.bottom-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.bottom-header__logo {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #000;
  -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000;
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.navigation__fixed .bottom-header {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 4;
}

.navigation__fixed main {
  margin-top: 70px;
}

.navigation__fixed.navigation__hidden .bottom-header {
  top: -70px;
}

.navigation__fixed.navigation__hidden main {
  margin-top: 70px;
}

.icon-menu {
  display: none;
}

.no-webp .page__main{
  background: url("../img/cover.jpg") center no-repeat; }

.page__main {
  position: relative;
}

.page__product {
  background: #fff;
}

.button {
  text-align: center;
  display: inline-block;
  padding: 15px 30px;
  -webkit-box-shadow: 5px 5px 5px #000;
          box-shadow: 5px 5px 5px #000;
  background-color: #dcca87;
  color: #0c0b08;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  margin: 50px 0px 0px 0px;
}

.title {
  font-weight: 700;
  text-align: center;
}

.text {
  line-height: 175%;
  letter-spacing: 0.04em;
}

.main__content {
  position: relative;
  z-index: 2;
  max-width: 50%;
}

.content-main__title {
  margin: 0px 0px 20px 0px;
}

.content-main__sub-title {
  color: #dcca87;
  margin: 0px 0px 50px 0px;
}

.content-main__text {
  margin: 0px 0px 20px 0px;
}

.item {
  margin: 0px 0px 10px 0px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.item::before {
  content: "❄";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: inline-block;
  font-weight: 700;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border: 5px solid #333;
  margin: 0px 5px 0px 0px;
  border-radius: 50%;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.slide-product__list .item::before {
  border: 5px solid #dcca87;
}

.firms {
  background: #fff;
}

.firms__slide img {
  max-width: 100%;
}

.prev {
  color: #fff;
}

.no-webp .services{
  background: url("../img/services/01.jpg") center/cover no-repeat; }

.services {
  position: relative;
}

.services::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  position: absolute;
  opacity: 0.7;
}

.services__content {
  padding-left: 50%;
  position: relative;
}

.services__link {
  display: block;
  max-width: 400px;
}

.price__title {
  color: #fff;
}

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.item-price {
  text-align: center;
  background-color: #dcca87;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 5px #000;
          box-shadow: 10px 10px 5px #000;
}

.product__sub-title {
  margin: 0px 0px 15px 0px;
}

.product__slider {
  margin: 0px 0px 25px 0px;
}

.product .slide-product {
  background: #4d4d4d;
  padding: 10px;
}

.product .slide-product__image {
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.product .slide-product__image img {
  max-width: 100%;
}

.product .slide-product__title {
  margin: 0px 0px 10px 0px;
  font-weight: 700;
}

.product .slide-product__price {
  text-align: right;
  color: #dcca87;
  margin: 0px 0px 10px 0px;
}

.product .slide-product__text {
  letter-spacing: 0.04em;
  line-height: 125%;
  margin: 0px 0px 10px 0px;
  color: #fff;
}

.product .slide-product__list {
  color: #dcca87;
}

.product .slide-product__list::before {
  border: 5px solid #dcca87;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 61.99875em) {
  .top-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
    min-height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 76.875em) {
  .page__main {
    padding-top: 7.5rem;
  }

  .page__main {
    padding-bottom: 7.5rem;
  }

  .page__prev {
    padding-top: 7.5rem;
  }

  .page__prev {
    padding-bottom: 7.5rem;
  }

  .page__services {
    padding-top: 7.5rem;
  }

  .page__services {
    padding-bottom: 7.5rem;
  }

  .page__price {
    padding-top: 7.5rem;
  }

  .page__price {
    padding-bottom: 7.5rem;
  }

  .page__product {
    padding-top: 7.5rem;
  }

  .page__product {
    padding-bottom: 7.5rem;
  }

  .title {
    font-size: 2.1875rem;
  }

  .title {
    margin-bottom: 2.1875rem;
  }

  .content-main__title {
    font-size: 2.5rem;
  }

  .content-main__sub-title {
    font-size: 1.875rem;
  }

  .content-main__text {
    font-size: 1.25rem;
  }

  .item-price__title {
    font-size: 1.5625rem;
  }

  .item-price__title {
    margin-bottom: 1.5625rem;
  }

  .product__sub-title {
    font-size: 1.875rem;
  }

  .product .slide-product__title {
    font-size: 1.25rem;
  }

  .product .slide-product__price {
    font-size: 1.5625rem;
  }
}

@media (max-width: 20em) {
  .page__main {
    padding-top: 1.875rem;
  }

  .page__main {
    padding-bottom: 1.875rem;
  }

  .page__prev {
    padding-top: 1.875rem;
  }

  .page__prev {
    padding-bottom: 1.875rem;
  }

  .page__services {
    padding-top: 1.875rem;
  }

  .page__services {
    padding-bottom: 1.875rem;
  }

  .page__price {
    padding-top: 1.875rem;
  }

  .page__price {
    padding-bottom: 1.875rem;
  }

  .page__product {
    padding-top: 1.875rem;
  }

  .page__product {
    padding-bottom: 1.875rem;
  }

  .title {
    font-size: 1.5625rem;
  }

  .title {
    margin-bottom: 1.5625rem;
  }

  .content-main__title {
    font-size: 1.875rem;
  }

  .content-main__sub-title {
    font-size: 1.25rem;
  }

  .content-main__text {
    font-size: 1rem;
  }

  .item-price__title {
    font-size: 1rem;
  }

  .item-price__title {
    margin-bottom: 0.625rem;
  }

  .product__sub-title {
    font-size: 1.25rem;
  }

  .product .slide-product__title {
    font-size: 1rem;
  }

  .product .slide-product__price {
    font-size: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .top-header {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 7.5rem 0.9375rem 1.875rem;
    background-color: #dcca87;
    z-index: 3;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    background: #dcca87;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 1.875rem;
    color: #333;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
    background-color: #333;
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
    background-color: #333;
  }

  .page__main::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    position: absolute;
    opacity: 0.7;
  }

  .main__content {
    max-width: 75%;
  }

  .services__content {
    padding-left: 0;
  }

  .services__title {
    text-align: center;
  }

  .services__list {
    max-width: 400px;
    margin: 0 auto;
  }

  .services__link {
    margin: 0 auto;
  }

  .price__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.99875em) and (any-hover: hover) {
  .menu__link:hover {
    color: #333;
  }
}

@media (max-width: 29.99875em) {
  .main__content {
    max-width: 100%;
    text-align: center;
  }

  .content-main__text {
    margin: 15px auto;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
  .page__main {
    padding-top: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__main {
    padding-bottom: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__prev {
    padding-top: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__prev {
    padding-bottom: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__services {
    padding-top: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__services {
    padding-bottom: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__price {
    padding-top: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__price {
    padding-bottom: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__product {
    padding-top: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .page__product {
    padding-bottom: calc(1.875rem + 5.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .title {
    font-size: calc(1.5625rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .title {
    margin-bottom: calc(1.5625rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .content-main__title {
    font-size: calc(1.875rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .content-main__sub-title {
    font-size: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .content-main__text {
    font-size: calc(1rem + 0.25 * (((100vw - 20rem)) / ((56.875))));
  }

  .item-price__title {
    font-size: calc(1rem + 0.5625 * (((100vw - 20rem)) / ((56.875))));
  }

  .item-price__title {
    margin-bottom: calc(0.625rem + 0.9375 * (((100vw - 20rem)) / ((56.875))));
  }

  .product__sub-title {
    font-size: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((56.875))));
  }

  .product .slide-product__title {
    font-size: calc(1rem + 0.25 * (((100vw - 20rem)) / ((56.875))));
  }

  .product .slide-product__price {
    font-size: calc(1.25rem + 0.3125 * (((100vw - 20rem)) / ((56.875))));
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }

  .button:hover {
    background-color: #d0b960;
  }

  .button:active {
    -webkit-box-shadow: 2px 2px 5px #000;
            box-shadow: 2px 2px 5px #000;
  }

  .item:hover::before {
    background-color: #dcca87;
  }
}

.webp .page__main{ background: url(../img/cover.webp) center no-repeat; }

.webp .services{ background: url(../img/services/01.webp) center/cover no-repeat; }